<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
>

	<!-- load variables -->
	<?include sass.wxi?>

	<!-- libsass product -->
	<Product Id="*"
		Version="$(var.Version)"
		Name="$(var.ProductName)"
		Manufacturer="Marcel Greter"
		Language="1033" Codepage="1252"
		UpgradeCode="$(var.UpgradeCode)"
	>

		<Package Id="*"
			Keywords="Installer"
			InstallScope="perMachine"
			Platform="$(var.Platform)"
			Manufacturer="Marcel Greter"
			Description="$(var.ProductDescription)"
			Comments="Installer for libsass and sassc $(var.Version)"
			InstallerVersion="200"
			SummaryCodepage="1252"
			Languages="1033"
			Compressed="yes"
		/>

		<MajorUpgrade
			AllowDowngrades="no"
			AllowSameVersionUpgrades="yes"
			Schedule="afterInstallExecute"
			DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."
		/>

		<Media Id="1" Cabinet="Sample.cab" EmbedCab="yes" DiskPrompt="Media #1" />
		<Property Id="DiskPrompt" Value="Insert Installation Media [1]" />

		<WixVariable Id="WixUISupportPerUser" Value="1" />
		<WixVariable Id="WixUISupportPerMachine" Value="1" />

		<Property Id="APPLICATIONFOLDER" Secure="yes">
			<RegistrySearch Id="FindInstallLocation"
				Type="raw"
				Root="HKLM"
				Win64="$(var.Win64)"
				Name="InstallLocation"
				Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[WIX_UPGRADE_DETECTED]"
			/>
		</Property>

		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />
		<Property Id="ApplicationFolderName" Value="$(var.InstallName)" />

		<SetDirectory
			Id="APPLICATIONFOLDER"
			Value="[ProgramFiles64Folder][ApplicationFolderName]"
		>
			APPLICATIONFOLDER=""
		</SetDirectory>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="APPLICATIONFOLDER" Name="$(var.InstallName)">

					<!--
					<Component Id="HelpExecutable" Guid="197A3319-008B-45BB-B7B4-83EAB82195EE">
						<File Id="libsass-cmd" Name="libsass.cmd" Source="..\..\bin\libsass.cmd"></File>
						<File Id="libsass-bat" Name="libsass.bat" Source="..\..\bin\libsass.bat"></File>
					</Component>
					-->

					<Directory Id="BINDIR" Name=".">
						<Component Id="MainExecutable" Guid="197A3319-093A-420F-A730-AEE2DA30BA46">
							<File Id="sassc.exe" Name="sassc.exe" Source="sassc.exe" KeyPath="yes"/>
						</Component>
						<Component Id="PerlExecutable" Guid="197A3319-093A-420F-A730-AEE2DA30BA47">
							<File Id="psass.exe" Name="psass.exe" Source="psass.exe" KeyPath="yes"/>
						</Component>
					</Directory>

					<Component Id="MainLibrary" Guid="197A3319-9DE1-419A-BFB2-633678FF9F0A">
						<File Id="libsass.a" Name="libsass.a" Source="libsass.a" KeyPath="no"/>
						<File Id="libsass.dll" Name="libsass.dll" Source="libsass.dll" KeyPath="yes"/>
					</Component>

					<Directory Id="MATHPLUGINDIR" Name="plugin">
						<Component Id="MathPluginLibrary" Guid="197A3319-9DE1-419A-BFB2-633678FF9F0B">
							<File Id="math.dll" Name="math.dll" Source="plugin/math.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<!-- <Directory Id="DIGESTPLUGINDIR" Name="plugin">
						<Component Id="DigestPluginLibrary" Guid="197A3319-9DE1-419A-BFB2-633678FF9FAB">
							<File Id="digest.dll" Name="digest.dll" Source="plugin/digest.dll" KeyPath="yes"/>
						</Component>
					</Directory> -->
					<Directory Id="GLOBPLUGINDIR" Name="plugin">
						<Component Id="GlobPluginLibrary" Guid="197A3319-9DE1-419A-BFB2-633678FF9FCB">
							<File Id="glob.dll" Name="glob.dll" Source="plugin/glob.dll" KeyPath="yes"/>
						</Component>
					</Directory>
					<Directory Id="IMGSIZEPLUGINDIR" Name="plugin">
						<Component Id="ImgSizePluginLibrary" Guid="197A3319-9DE1-419A-BFB2-633678FF9FDB">
							<File Id="imgsize.dll" Name="img-size.dll" Source="plugin/img-size.dll" KeyPath="yes"/>
						</Component>
					</Directory>

					<Directory Id="INCLUDEDIR" Name="include">
						<Component Id="MainHeaders" Guid="197A3319-8495-484D-863F-5B99AE4F8B94">
							<File Id="sass.h" Name="sass.h" Source="include/sass.h" KeyPath="yes" />
							<File Id="sass2scss.h" Name="sass2scss.h" Source="include/sass2scss.h" KeyPath="no" />
						</Component>
						<Directory Id="SASSDIR" Name="sass">
							<Component Id="SassHeaders" Guid="197A3319-8495-484D-863F-5B99AE4F8B95">
								<File Id="sass_base.h" Name="base.h" Source="include/sass/base.h" KeyPath="no" />
								<File Id="sass_values.h" Name="values.h" Source="include/sass/values.h" KeyPath="no" />
								<File Id="sass_context.h" Name="context.h" Source="include/sass/context.h" KeyPath="no" />
								<File Id="sass_functions.h" Name="functions.h" Source="include/sass/functions.h" KeyPath="no" />
								<File Id="sass_version.h" Name="version.h" Source="include/sass/version.h" KeyPath="no" />
							</Component>
						</Directory>
					</Directory>

					<Component Id="PathPerUser" Guid="197A3319-CFC7-4F71-9124-AA38D62B7F0B" KeyPath="yes">
						<Condition>ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged))</Condition>
						<Environment Id="PERUSERPATH" Name="PATH" Value="[BINDIR]" Permanent="no" Part="last" Action="set" System="no" />
					</Component>
					<Component Id="PathPerMachine" Guid="197A3319-4FD2-4569-B2B8-2E96462544A4" KeyPath="yes">
						<Condition>ALLUSERS=1 OR (ALLUSERS=2 AND Privileged)</Condition>
						<Environment Id="PATH" Name="PATH" Value="[BINDIR]" Permanent="no" Part="last" Action="set" System="yes" />
					</Component>

				</Directory>
				<!-- EO InstallDir -->
			</Directory>
			<!-- EO ProgramDir -->

			<!--
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="libsass">
					<Component Id="ProgramMenuDir" Guid="197A3319-E689-4ABC-A0D4-D85FB755DF40">
						<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>

			<Directory Id="DesktopFolder" Name="Desktop" />
			-->

		</Directory>
		<!-- EO SourceDir -->

		<Property Id="INSTALLLEVEL" Value="9" />

		<Feature
			Level="2"
			Id="Complete"
			Title="libsass"
			Display="expand"
			Absent="disallow"
			AllowAdvertise="no"
			InstallDefault="local"
			TypicalDefault="install"
			ConfigurableDirectory="APPLICATIONFOLDER"
			Description="Libsass library (dll plus headers) and command line utilities."
		>

			<Feature
				Level="3"
				Id="MainAsset"
				Absent="disallow"
				Title="Libsass Library"
				AllowAdvertise="no"
				TypicalDefault="install"
				InstallDefault="followParent"
				ConfigurableDirectory="APPLICATIONFOLDER"
				Description="Install shared and static libsass library (.dll/.a)."
			>

				<ComponentRef Id="MainLibrary" />

			</Feature>

			<Feature
				Level="3"
				Id="MainProgram"
				Absent="allow"
				Title="Native Utility (sassc)"
				AllowAdvertise="no"
				TypicalDefault="install"
				InstallDefault="followParent"
				ConfigurableDirectory="APPLICATIONFOLDER"
				Description="Install `sassc` command line utility."
			>

				<ComponentRef Id="MainExecutable" />

			</Feature>

			<Feature
				Level="6"
				Id="PsassProgram"
				Absent="allow"
				Title="Perl Utility (psass)"
				AllowAdvertise="no"
				TypicalDefault="install"
				InstallDefault="followParent"
				ConfigurableDirectory="APPLICATIONFOLDER"
				Description="Install `psass` command line utility (embedded perl binding)."
			>

				<ComponentRef Id="PerlExecutable" />

			</Feature>

			<Feature
				Level="3"
				Id="PathUpdate"
				Absent="allow"
				Title="Add to Global Path"
				AllowAdvertise="no"
				TypicalDefault="install"
				InstallDefault="followParent"
				ConfigurableDirectory="APPLICATIONFOLDER"
				Description="Add the install location to the PATH environment variable."
			>

				<ComponentRef Id="PathPerUser" />
				<ComponentRef Id="PathPerMachine" />

			</Feature>

			<Feature
				Level="99"
				Id="MainIncludes"
				Absent="allow"
				Title="Header Files (dev)"
				AllowAdvertise="no"
				TypicalDefault="install"
				InstallDefault="followParent"
				ConfigurableDirectory="APPLICATIONFOLDER"
				Description="Install C headers to develop and link against libsass library."
			>

				<ComponentRef Id="MainHeaders" />
				<ComponentRef Id="SassHeaders" />

			</Feature>

			<Feature
				Level="99"
				Id="PluginMath"
				Absent="allow"
				Title="Math functions plugin (alpha)"
				AllowAdvertise="no"
				TypicalDefault="install"
				InstallDefault="followParent"
				ConfigurableDirectory="APPLICATIONFOLDER"
				Description="Install plugin for math (pow/fact/exp/sqrt and trigonometry) functions."
			>

				<ComponentRef Id="MathPluginLibrary" />

			</Feature>

			<!-- <Feature
				Level="99"
				Id="PluginDigest"
				Absent="allow"
				Title="Digest functions plugin (alpha)"
				AllowAdvertise="no"
				TypicalDefault="install"
				InstallDefault="followParent"
				ConfigurableDirectory="APPLICATIONFOLDER"
				Description="Install plugin for digest functions (md5, crc)."
			>

				<ComponentRef Id="DigestPluginLibrary" />

			</Feature> -->

			<Feature
				Level="99"
				Id="PluginGlob"
				Absent="allow"
				Title="Glob imports plugin (experimental)"
				AllowAdvertise="no"
				TypicalDefault="install"
				InstallDefault="followParent"
				ConfigurableDirectory="APPLICATIONFOLDER"
				Description="Install plugin for glob-based imports (ie `**/*.scss`)."
			>

				<ComponentRef Id="GlobPluginLibrary" />

			</Feature>

			<Feature
				Level="99"
				Id="PluginImgSize"
				Absent="allow"
				Title="Image size plugin (experimental)"
				AllowAdvertise="no"
				TypicalDefault="install"
				InstallDefault="followParent"
				ConfigurableDirectory="APPLICATIONFOLDER"
				Description="Install plugin for image sizes (png/jpg/gif)."
			>

				<ComponentRef Id="ImgSizePluginLibrary" />

			</Feature>

		</Feature>

		<!-- Include the Custom Actions library - currently just to send notification of Environment changes. -->
		<Binary Id="SetupCustomActionsCPP.dll" SourceFile="..\..\res\RefreshEnv.dll" />

		<!-- Define the custom action to Refresh Environment Variables. -->
		<CustomAction Id="RefreshEnvironmentVariables"
		              Return="check"
		              Execute="immediate"
		              BinaryKey="SetupCustomActionsCPP.dll"
		              DllEntry="RefreshEnvironmentVariables"
		/>

		<!-- fix a bug in advanced install ui -->
		<!-- http://stackoverflow.com/questions/5479790 -->
		<CustomAction
			Id="OverwriteWixSetDefaultPerMachineFolder"
			Property="WixPerMachineFolder"
			Value="[APPLICATIONFOLDER]"
			Execute="immediate"
		/>

		<CustomAction
			Id="SetARPINSTALLLOCATION"
			Property="ARPINSTALLLOCATION"
			Value="[APPLICATIONFOLDER]"
		/>

		<CustomAction
			Id="StartAppOnExit"
			Directory="APPLICATIONFOLDER"
			ExeCommand="explorer ."
			Execute="immediate"
			Impersonate="yes"
			Return="asyncNoWait"
		/>

		<!-- add checkbox to exit dialog -->
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open installation directory after setup exits." />
		<UI><Publish Dialog="ExitDialog" Control="Finish" Order="1" Event="DoAction" Value="StartAppOnExit">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and not Installed</Publish></UI>

		<!-- Schedule custom actions on ui -->
		<InstallUISequence>
			<Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
		</InstallUISequence>

		<!-- Schedule custom actions on install -->
		<InstallExecuteSequence>
			<Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
			<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"/>
			<Custom Action="RefreshEnvironmentVariables" After="InstallFinalize"/>
		</InstallExecuteSequence>

		<!-- Icon in add/remove programs -->
		<Icon Id="icon.ico" SourceFile="..\res\libsass.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<!-- load user interface -->
		<UIRef Id="WixUI_Advanced" />
		<!-- show custom error messages -->
		<UIRef Id="WixUI_ErrorProgressText" />

		<!-- add some custom graphics to the installer ui -->
		<WixVariable Id="WixUIBannerBmp" Value="..\..\res\theme\banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="..\..\res\theme\dialog.bmp" />

		<!-- specify the licence file (use custom libsass mit rtf) -->
		<WixVariable Id="WixUILicenseRtf" Value="..\..\res\license\MIT.rtf" />

		<!-- set our default install-level -->
		<!-- <Property Id="INSTALLLEVEL" Value="3" /> -->

		<!--
		<WixVariable Id="WixUIUpIco" Value="..\..\res\theme\up.ico" />
		<WixVariable Id="WixUINewIco" Value="..\..\res\theme\new.ico" />
		<WixVariable Id="WixUIInfoIco" Value="..\..\res\theme\information.ico" />
		<WixVariable Id="WixUIExclamationIco" Value="..\..\res\theme\exclamation.ico" />
		-->

	</Product>

</Wix>
